[tools]
  bun = "1.3.7"
  pkl = "0.30.2"
  ruby = "4.0.1"
  hk = { version = "1.35.0", postinstall = "hk install" }
  overmind = "latest"

[env]
  PATH = "${config_root}/node_modules/.bin:${PATH}"

[tasks.fix]
  run = "hk fix"

[tasks.check]
  run = "hk check"
