[tools]
  bun = "1.3.7"
  pkl = "0.30.2"
  ruby = "4.0.1"
  hk = "1.35.0"
  overmind = "latest"

  # [env]
  #   PATH = "${config_root}/node_modules/.bin:${PATH}"

[tasks]
  setup = { run = "bin/setup" }
  dev = { run = "bin/dev" }
  attach = { run = "bin/attach" }
  restart = { run = "bin/overmind restart" }
  test = { run = "bin/rails test" }
  fix = { run = "hk fix" }
  check = { run = "hk check" }
  annotate = { run = "bin/annotaterb models" }
  ssh = { run = "fly ssh console" }
  # ci = { run = "bin/ci" }

[hooks]
  postinstall = 'if [ -z "$CI" ]; then bin/setup --skip-server; fi'

[settings]
  experimental = true
