@layer components {
  [data-slot="badge"] {
    @apply inline-flex h-5 w-fit shrink-0 items-center justify-center gap-1 overflow-hidden rounded-4xl border border-transparent px-2 py-0.5 text-xs font-medium whitespace-nowrap transition-all focus-visible:border-ring focus-visible:ring-[3px] focus-visible:ring-ring/50 has-data-[icon=inline-end]:pr-1.5 has-data-[icon=inline-start]:pl-1.5 aria-invalid:border-destructive aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 [&>svg]:pointer-events-none [&>svg]:size-3!;

    /* == Variants == */

    &[data-variant="default"] {
      @apply bg-primary text-primary-foreground [a]:hover:bg-primary/80;
    }

    &[data-variant="secondary"] {
      @apply bg-secondary text-secondary-foreground [a]:hover:bg-secondary/80;
    }

    &[data-variant="destructive"] {
      @apply bg-destructive/10 text-destructive focus-visible:ring-destructive/20 dark:bg-destructive/20 dark:focus-visible:ring-destructive/40 [a]:hover:bg-destructive/20;
    }

    &[data-variant="outline"] {
      @apply border-border bg-input/30 text-foreground [a]:hover:bg-muted [a]:hover:text-muted-foreground;
    }

    &[data-variant="ghost"] {
      @apply hover:bg-muted hover:text-muted-foreground dark:hover:bg-muted/50;
    }

    &[data-variant="link"] {
      @apply text-primary underline-offset-4 hover:underline;
    }
  }
}
