@layer components {
  [data-slot="button"] {
    @apply inline-flex shrink-0 items-center justify-center rounded-4xl border border-transparent bg-clip-padding text-sm font-medium whitespace-nowrap transition-all outline-none select-none focus-visible:border-ring focus-visible:ring-[3px] focus-visible:ring-ring/50 disabled:pointer-events-none disabled:opacity-50 aria-invalid:border-destructive aria-invalid:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:border-destructive/50 dark:aria-invalid:ring-destructive/40 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4;

    /* == Variants == */

    &[data-variant="default"] {
      @apply bg-primary text-primary-foreground hover:bg-primary/80;
    }

    &[data-variant="outline"] {
      @apply border-border bg-input/30 hover:bg-input/50 hover:text-foreground aria-expanded:bg-muted aria-expanded:text-foreground;
    }

    &[data-variant="secondary"] {
      @apply bg-secondary text-secondary-foreground hover:bg-secondary/80 aria-expanded:bg-secondary aria-expanded:text-secondary-foreground;
    }

    &[data-variant="ghost"] {
      @apply hover:bg-muted hover:text-foreground aria-expanded:bg-muted aria-expanded:text-foreground dark:hover:bg-muted/50;
    }

    &[data-variant="destructive"] {
      @apply bg-destructive/10 text-destructive hover:bg-destructive/20 focus-visible:border-destructive/40 focus-visible:ring-destructive/20 dark:bg-destructive/20 dark:hover:bg-destructive/30 dark:focus-visible:ring-destructive/40;
    }

    &[data-variant="link"] {
      @apply text-primary underline-offset-4 hover:underline;
    }

    /* == Sizes == */

    &[data-size="default"] {
      @apply h-9 gap-1.5 px-3 has-data-[icon=inline-end]:pr-2.5 has-data-[icon=inline-start]:pl-2.5;
    }

    &[data-size="xs"] {
      @apply h-6 gap-1 px-2.5 text-xs has-data-[icon=inline-end]:pr-2 has-data-[icon=inline-start]:pl-2 [&_svg:not([class*='size-'])]:size-3;
    }

    &[data-size="sm"] {
      @apply h-8 gap-1 px-3 has-data-[icon=inline-end]:pr-2 has-data-[icon=inline-start]:pl-2;
    }

    &[data-size="lg"] {
      @apply h-10 gap-1.5 px-4 has-data-[icon=inline-end]:pr-3 has-data-[icon=inline-start]:pl-3;
    }

    &[data-size="icon"] {
      @apply size-9;
    }

    &[data-size="icon-xs"] {
      @apply size-6 [&_svg:not([class*='size-'])]:size-3;
    }

    &[data-size="icon-sm"] {
      @apply size-8;
    }

    &[data-size="icon-lg"] {
      @apply size-10;
    }
  }
}
