@layer components {
  [data-slot="card"] {
    @apply flex flex-col gap-6 overflow-hidden rounded-2xl bg-card py-6 text-sm text-card-foreground ring-1 ring-foreground/10 has-[>img:first-child]:pt-0 data-[size=sm]:gap-4 data-[size=sm]:py-4 *:[img:first-child]:rounded-t-xl *:[img:last-child]:rounded-b-xl;
  }

  [data-slot="card-header"] {
    @apply @container/card-header grid auto-rows-min items-start gap-2 rounded-t-xl px-6 group-data-[size=sm]/card:px-4 has-data-[slot=card-action]:grid-cols-[1fr_auto] has-data-[slot=card-description]:grid-rows-[auto_auto] [.border-b]:pb-6 group-data-[size=sm]/card:[.border-b]:pb-4;
  }

  [data-slot="card-title"] {
    @apply text-base font-medium;
  }

  [data-slot="card-description"] {
    @apply text-sm text-muted-foreground;
  }

  [data-slot="card-action"] {
    @apply col-start-2 row-span-2 row-start-1 self-start justify-self-end;
  }

  [data-slot="card-content"] {
    @apply px-6 group-data-[size=sm]/card:px-4;
  }

  [data-slot="card-footer"] {
    @apply flex items-center rounded-b-xl px-6 group-data-[size=sm]/card:px-4 [.border-t]:pt-6 group-data-[size=sm]/card:[.border-t]:pt-4;
  }
}
