.chat_card {
  @apply flex-1 pb-0;
}

.chat_card_content {
  background-image: url("chat_background.jpg");

  @apply flex-1 bg-cover py-4;
}

.chat_message_body {
  @apply max-w-96 min-w-0 px-2 py-1;
  @apply rounded-lg border bg-background text-sm;

  time {
    @apply shrink-0 text-xs text-muted-foreground lowercase;
  }
}
