.chat_card {
  @apply min-h-0 flex-1 gap-0;
  @apply pb-0;
}

.chat_content {
  @apply min-h-0 flex-1 overflow-y-auto py-4;
  @apply flex flex-col gap-y-3;
  @apply bg-[url('chat_background.jpg')] bg-cover dark:bg-[url('chat_background-dark.jpg')];

  &:has(.chat_message),
  &:has(.pagination_button) {
    .chat_empty_indicator {
      @apply hidden;
    }
  }
}

.chat_messages {
  @apply space-y-2;
}

.chat_empty_indicator {
  @apply self-center rounded-md px-2 py-1;
  @apply bg-background text-sm text-muted-foreground;
}

.chat_message {
  @apply flex items-end gap-x-2;

  &:not([data-sender="you"]) {
    @apply pr-12;
  }

  &[data-sender="you"] {
    @apply justify-end pl-12;
  }
}

.chat_avatar {
  @apply mb-0.5 size-7 rounded-full;

  &.chat_avatar-fallback {
    @apply flex items-center justify-center;
    @apply bg-[#103529] text-[#25D366];
  }
}

.chat_message_body {
  @apply max-w-96 min-w-0 rounded-lg border p-1 text-sm;
  @apply bg-background group-data-[sender=you]/message:bg-sender-message;
}

.chat_message_sender {
  @apply px-1 font-semibold;
  @apply text-accent group-data-[sender=you]/message:text-secondary;

  .chat_message_quote & {
    @apply text-muted-foreground;
  }
}

.chat_message_content {
  @apply flex items-end gap-x-2 px-1;

  time {
    @apply shrink-0 text-xs text-muted-foreground lowercase;
  }
}

.chat_message_quote {
  @apply relative my-1 rounded-md bg-muted p-1 pr-2 pl-4;

  &::before {
    content: "";

    @apply absolute top-0 bottom-0 left-0 w-1 rounded-l-md;
    @apply bg-muted-foreground;
  }
}
