@layer components {
  .landing_btn_primary {
    @apply transform rounded-full bg-primary px-8 py-3 text-lg font-bold text-white shadow-sm transition-all hover:-translate-y-0.5 hover:bg-primary/90 hover:shadow-md;
  }

  .landing_btn_secondary {
    @apply rounded-full border-2 border-primary px-8 py-3 font-bold text-primary transition-all hover:bg-primary/5;
  }

  .landing_gathering_card {
    @apply flex flex-col items-start rounded-3xl border border-gray-100 bg-white p-8 shadow-sm transition-shadow hover:shadow-md;
  }
}
