@layer components {
  .landing_btn_primary {
    @apply transform rounded-full bg-primary px-8 py-3 shadow-sm transition-all hover:-translate-y-0.5 hover:shadow-md;
    @apply text-lg font-bold text-white;
    @apply flex items-center gap-x-2;
  }

  .landing_btn_secondary {
    @apply rounded-full border-2 border-primary px-7.5 py-2.5 transition-all hover:bg-primary/5;
    @apply text-lg font-bold text-primary;
    @apply flex items-center gap-x-2;
  }

  .landing_gathering_card {
    @apply flex flex-col items-start rounded-3xl border border-gray-100 bg-white p-8 shadow-sm transition-shadow hover:shadow-md;
  }

  .landing_gathering_btn {
    @apply font-bold decoration-2 underline-offset-4 hover:underline;
    @apply flex items-center gap-x-2;
  }

  .landing_cta_btn {
    @apply rounded-full px-6 py-2.5;
    @apply font-bold text-white;
    @apply inline-flex items-center gap-x-2;
  }

  .landing_outline_card {
    @apply space-y-6 rounded-3xl border-2 border-gray-100 bg-white p-8 shadow-sm;

    h2 {
      @apply text-2xl font-bold text-landing-secondary;
    }
  }
}
