@utility spinner {
  --mask: no-repeat radial-gradient(#000 68%, #0000 71%);
  --size: 1.25em;

  -webkit-mask: var(--mask), var(--mask), var(--mask);
  -webkit-mask-size: 28% 45%;

  animation: spinning 1s infinite linear;
  aspect-ratio: 8/5;
  background: currentColor;
  color: var(--color-shade-contrast);
  inline-size: var(--size);
  inset: 50%;
  margin-block: calc((var(--size) / 3) * -1);
  margin-inline: calc((var(--size) / 2) * -1);
}

@utility loading {
  @apply relative;

  &::before {
    @apply absolute inset-0 bg-background opacity-50;

    content: "";
    border-radius: inherit;
  }

  &::after {
    @apply absolute spinner;

    content: "";
  }
}

@layer utilities {
  @keyframes spinning {
    0% {
      -webkit-mask-position:
        0% 0%,
        50% 0%,
        100% 0%;
    }
    12.5% {
      -webkit-mask-position:
        0% 50%,
        50% 0%,
        100% 0%;
    }
    25% {
      -webkit-mask-position:
        0% 100%,
        50% 50%,
        100% 0%;
    }
    37.5% {
      -webkit-mask-position:
        0% 100%,
        50% 100%,
        100% 50%;
    }
    50% {
      -webkit-mask-position:
        0% 100%,
        50% 100%,
        100% 100%;
    }
    62.5% {
      -webkit-mask-position:
        0% 50%,
        50% 100%,
        100% 100%;
    }
    75% {
      -webkit-mask-position:
        0% 0%,
        50% 50%,
        100% 100%;
    }
    87.5% {
      -webkit-mask-position:
        0% 0%,
        50% 0%,
        100% 50%;
    }
    100% {
      -webkit-mask-position:
        0% 0%,
        50% 0%,
        100% 0%;
    }
  }
}
