@theme {
  --color-landing-primary: #18c343;
  --color-landing-secondary: oklch(66.6% 0.179 58.318);
}

@custom-variant dark {
  @media (prefers-color-scheme: dark) {
    :where(body:not(.no-dark)) & {
      @slot;
    }
  }
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.713 0.2126 145.914);
  --primary-foreground: oklch(0.986 0.031 134.987);
  /* --secondary: oklch(0.967 0.001 300.605); */
  --secondary: oklch(66.6% 0.179 58.318);
  --secondary-foreground: oklch(0.21 0.006 300.115);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.713 0.2126 145.914);
  --accent-foreground: oklch(0.986 0.031 134.987);
  --destructive: oklch(0.58 0.22 41.23);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.871 0.15 168.679);
  --chart-2: oklch(0.723 0.219 163.809);
  --chart-3: oklch(0.627 0.194 163.444);
  --chart-4: oklch(0.527 0.154 164.299);
  --chart-5: oklch(0.448 0.119 165.558);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.713 0.2126 145.914);
  --sidebar-primary-foreground: oklch(0.986 0.031 134.987);
  --sidebar-accent: oklch(0.713 0.2126 145.914);
  --sidebar-accent-foreground: oklch(0.986 0.031 134.987);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  @media (prefers-color-scheme: dark) {
    &:not(:has(body.no-dark)) {
      --background: oklch(0.145 0 0);
      --foreground: oklch(0.985 0 0);
      --card: oklch(0.205 0 0);
      --card-foreground: oklch(0.985 0 0);
      --popover: oklch(0.205 0 0);
      --popover-foreground: oklch(0.985 0 0);
      --primary: oklch(0.713 0.2126 145.914);
      --primary-foreground: oklch(0.986 0.031 134.987);
      --secondary: oklch(0.274 0.006 300.263);
      --secondary-foreground: oklch(0.985 0 0);
      --muted: oklch(0.269 0 0);
      --muted-foreground: oklch(0.708 0 0);
      --accent: oklch(0.713 0.2126 145.914);
      --accent-foreground: oklch(0.986 0.031 134.987);
      --destructive: oklch(0.704 0.191 36.446);
      --border: oklch(1 0 0 / 10%);
      --input: oklch(1 0 0 / 15%);
      --ring: oklch(0.556 0 0);
      --chart-1: oklch(0.871 0.15 168.679);
      --chart-2: oklch(0.723 0.219 163.809);
      --chart-3: oklch(0.627 0.194 163.444);
      --chart-4: oklch(0.527 0.154 164.299);
      --chart-5: oklch(0.448 0.119 165.558);
      --sidebar: oklch(0.205 0 0);
      --sidebar-foreground: oklch(0.985 0 0);
      --sidebar-primary: oklch(0.768 0.233 145.08);
      --sidebar-primary-foreground: oklch(0.986 0.031 134.987);
      --sidebar-accent: oklch(0.713 0.2126 145.914);
      --sidebar-accent-foreground: oklch(0.986 0.031 134.987);
      --sidebar-border: oklch(1 0 0 / 10%);
      --sidebar-ring: oklch(0.556 0 0);
    }
  }
}

@theme inline {
  /* --font-sans: "Figtree Variable", sans-serif; */
  --font-sans: "Quicksand", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }

  a,
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }
}

@layer components {
  .link {
    @apply text-accent underline-offset-4 hover:underline;
  }
}

@custom-variant hover {
  @media (hover: hover) {
    &:hover {
      @slot;
    }
  }

  @media (hover: none) {
    &:active {
      @slot;
    }
  }
}
