@import "tippy.js/dist/tippy.css" layer(components);
@import "tippy.js/dist/svg-arrow.css" layer(components);
@import "tippy.js/animations/scale.css" layer(components);

@layer components {
  .tippy-box {
    @apply bg-shade-900 dark:bg-shade-100 rounded-xl;
  }

  .tippy-arrow {
    @apply text-shade-900 dark:text-shade-100;
  }

  .tippy-svg-arrow {
    @apply fill-shade-900 dark:fill-shade-100;
  }

  .tippy-arrow,
  .tippy-svg-arrow {
    @apply absolute;

    .tippy-box[data-placement="bottom-start"] &,
    .tippy-box[data-placement="top-start"] & {
      @apply left-4!;

      transform: translateX(0%) !important;
    }

    .tippy-box[data-placement="bottom-end"] &,
    .tippy-box[data-placement="top-end"] & {
      @apply right-4 left-auto!;

      transform: translateX(0%) !important;
    }
  }

  .tippy-content {
    @apply text-shade-100 dark:text-shade-900 text-base;
  }
}
