# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy on Fly
    runs-on: ubuntu-latest
    concurrency: deploy-group # optional: ensure only one action runs at a time
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Flyctl
        uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Deploy on Fly
        run: flyctl deploy --remote-only --ha=false
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
